In [2]:
import numpy as np
import pandas as pd
import sqlite3

In [3]:
data = pd.read_csv('./age-education.csv')

In [4]:
conn = sqlite3.connect("population.db")
c = conn.cursor()

In [9]:
def drop_tables(c):
    
    tables = ['AGE_LITERACY','LANGUAGE_AGE','AREA','EDUCATION','LANG_EDUCATION']
    try:
        for t in tables:
            sql = '''DROP TABLE '''+ t
            c.execute(sql)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print('done')

In [10]:
drop_tables(c)

done

In [8]:
def create_table(c,query,name):
    try:
        c.execute(query)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print(name,'done')

In [9]:
def insert_many(c,schema,values,table):
    try:
        sql = '''INSERT INTO '''+table + schema[0] + ''' VALUES '''+ schema[1]
        c.executemany(sql, values)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print('Insertion done')

In [10]:
def avg_age(tup):
#     print(tup)
    if tup=='Total' or tup == 'Age not stated' or tup == 'All ages':
        return -1
    elif '+' in tup:
        return int(tup[:-1])+5
    elif '-' in tup:
        a_b = tup.split("-")
#         print(a_b)
        return (int(a_b[0]) + int(a_b[1]))//2
    else:
        return int(tup)

## AREA TABLE

In [11]:
table_1 = '''CREATE TABLE AREA(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
STATE_CODE INT NOT NULL,
DISTT_CODE INT NOT NULL,
NAME TEXT NOT NULL);'''
create_table(c,table_1,'AREA')

done

In [12]:
area_db = data.iloc[6:,1:4].drop_duplicates().values

In [8]:
# area_db

In [14]:
schema =['''(STATE_CODE,DISTT_CODE,NAME)''','''(?,?,?)''']
insert_many(c,schema,area_db,'AREA')

done

## AGE_LITERACY TABLE

In [18]:
table_3 = '''CREATE TABLE AGE_LITERACY(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
TOTAL_PERSONS INTEGER,TOTAL_MALE INTEGER,TOTAL_FEMALE INTEGER,
ILLITERATE_PERSONS INTEGER,ILLITERATE_MALE INTEGER,ILLITERATE_FEMALE INTEGER,LITERATE_PERSONS INTEGER,LITERATE_MALE INTEGER,LITERATE_FEMALE INTEGER,
AVG_AGE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE)
);'''
create_table(c,table_3,'AGE_LITERACY')

done

In [19]:
# data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Table Name,State code,District code,Area Name,Total/Rural/Urban,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,31,32,33,34,35,36,37,38,39,40

In [20]:
age_lit = data.iloc[6:,[1,4,5,6,7,8,9,10,11,12,13,14]]
age_lit['avg_age']=age_lit.iloc[:,2].map(avg_age)

In [21]:
age_lit = age_lit.fillna(0)

In [23]:
schema_3 =['''(STATE_CODE,GEOGRAPHIC_AREA,AGE_GROUP,TOTAL_PERSONS,TOTAL_MALE,TOTAL_FEMALE,ILLITERATE_PERSONS,ILLITERATE_MALE,ILLITERATE_FEMALE,LITERATE_PERSONS,LITERATE_MALE,LITERATE_FEMALE,AVG_AGE)''','''(?,?,?,?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_3,age_lit.values,'''AGE_LITERACY''')

done

## Education Table

In [43]:
table_4 = '''CREATE TABLE EDUCATION(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
LITERATE_WITHOUT_EDUCATION_TOTAL INTEGER,LITERATE_WITHOUT_EDUCATION_MALE INTEGER,LITERATE_WITHOUT_EDUCATION_FEMALE INTEGER,
BELOW_PRIMARY_TOTAL INTEGER,BELOW_PRIMARY_MALE INTEGER,BELOW_PRIMARY_FEMALE INTEGER,
PRIMARY_TOTAL INTEGER,PRIMARY_MALE INTEGER,PRIMARY_FEMALE INTEGER,
MIDDLE_TOTAL INTEGER,MIDDLE_MALE INTEGER,MIDDLE_FEMALE INTEGER,
SECONDARY_TOTAL INTEGER,SECONDARY_MALE INTEGER,SECONDARY_FEMALEINTEGER,
HIGHER_SECONDARY_TOTAL INTEGER,HIGHER_SECONDARY_MALE INTEGER,HIGHER_SECONDARY_FEMALE INTEGER,
NON_TECHNICIAN_TOTAL INTEGER,NON_TECHNICIAN_MALE INTEGER,NON_TECHNICIAN_FEMALE INTEGER,
TECHNICIAN_TOTAL INTEGER,TECHNICIAN_MALE INTEGER,TECHNICIAN_FEMALE INTEGER,
GRADUATE_TOTAL INTEGER,GRADUATE_MALE INTEGER,GRADUATE_FEMALE INTEGER,
UNCLASSIFIED_TOTAL INTEGER,UNCLASSIFIED_MALE INTEGER,UNCLASSIFIED_FEMALE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE)
);'''
create_table(c,table_4)

done

In [44]:
ids = [1,4,5]+[i for i in range(15,len(data.columns))]
edu = data.iloc[6:,ids]

In [45]:
edu = edu.fillna(0)

In [47]:
schema_3 =['''''','''(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_3,edu.values,'''EDUCATION''')

done

## Language_Age Table

In [48]:
table_5 = '''CREATE TABLE LANGUAGE_AGE(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
SECOND_LANGUAGE_TOTAL INTEGER,SECOND_LANGUAGE_MALE INTEGER,SECOND_LANGUAGE_FEMALE INTEGER,
THIRD_LANGUAGE_TOTAL INTEGER,THIRD_LANGUAGE_MALE INTEGER,THIRD_LANGUAGE_FEMALE INTEGER,AVG_AGE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE),
PRIMARY KEY (STATE_CODE, GEOGRAPHIC_AREA, AGE_GROUP)
);'''
create_table(c,table_5,'LANGUAGE_AGE')

done

In [49]:
data_2 = pd.read_csv('./multilingual-age.csv')
data_2.fillna(0)

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State code,District code,Area Name,Total/Rural/Urban,Age-group,Number speaking second language,0,0,Number speaking third language,0,0
1,0,0,0,0,0,Persons,Males,Females,Persons,Males,Females
2,1,2,3,4,5,6,7,8,9,10,11
3,0,0,0,0,0,0,0,0,0,0,0
4,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
6,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
7,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
8,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
9,00,00,INDIA,Total,25-29,35924045,19695033,16229012,10857171,6144045,4713126
10,00,00,INDIA,Total,30-49,96443870,55866320,40577550,27466884,16824473,10642411
11,00,00,INDIA,Total,50-69,39729782,24306735,15423047,10916361,7385967,3530394
12,00,00,INDIA,Total,70+,7962347,4813671,3148676,1954539,1362695,591844
13,00,00,INDIA,Total,Age not stated,1022037,576756,445281,255131,149990,105141
14,00,00,INDIA,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
15,00,00,INDIA,Rural,5-9,9292251,4815380,4476871,672498,356376,316122
16,00,00,INDIA,Rural,10-14,20960599,11005994,9954605,3638873,1929573,1709300
17,00,00,INDIA,Rural,15-19,24547666,13342296,11205370,6559688,3616092,2943596
18,00,00,INDIA,Rural,20-24,21905564,12180144,9725420,5966021,3449951,2516070
19,00,00,INDIA,Rural,25-29,18052954,10261185,7791769,4569413,2768678,1800735
20,00,00,INDIA,Rural,30-49,45973742,27687500,18286242,10139312,6778161,3361151
21,00,00,INDIA,Rural,50-69,17824491,11195472,6629019,3215504,2413157,802347
22,00,00,INDIA,Rural,70+,3635989,2240389,1395600,534536,404113,130423
23,00,00,INDIA,Rural,Age not stated,448229,259692,188537,88144,54961,33183
24,00,00,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
25,00,00,INDIA,Urban,5-9,6356941,3351463,3005478,1171610,621775,549835
26,00,00,INDIA,Urban,10-14,13527893,7127429,6400464,3615462,1901558,1713904
27,00,00,INDIA,Urban,15-19,17876933,9408612,8468321,6067029,3176674,2890355
28,00,00,INDIA,Urban,20-24,19438842,10206550,9232292,6868313,3617663,3250650
29,00,00,INDIA,Urban,25-29,17871091,9433848,8437243,6287758,3375367,2912391
...,...,...,...,...,...,...,...,...,...,...,...
1054,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Total,257425,142378,115047,72708,41846,30862
1055,35,00,ANDAMAN & NICOBAR ISLANDS,Total,5-9,14096,7110,6986,1958,983,975
1056,35,00,ANDAMAN & NICOBAR ISLANDS,Total,10-14,25476,12995,12481,6651,3331,3320
1057,35,00,ANDAMAN & NICOBAR ISLANDS,Total,15-19,26857,14005,12852,9494,4785,4709
1058,35,00,ANDAMAN & NICOBAR ISLANDS,Total,20-24,29179,15535,13644,9171,4827,4344
1059,35,00,ANDAMAN & NICOBAR ISLANDS,Total,25-29,32609,17622,14987,9716,5320,4396
1060,35,00,ANDAMAN & NICOBAR ISLANDS,Total,30-49,91903,51816,40087,27080,16469,10611
1061,35,00,ANDAMAN & NICOBAR ISLANDS,Total,50-69,32357,20054,12303,7803,5517,2286
1062,35,00,ANDAMAN & NICOBAR ISLANDS,Total,70+,4721,3115,1606,771,579,192
1063,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Age not stated,227,126,101,64,35,29
1064,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Total,152600,84758,67842,38136,22243,15893
1065,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,5-9,7941,4012,3929,939,474,465
1066,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,10-14,15529,7852,7677,3667,1814,1853
1067,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,15-19,16182,8449,7733,5334,2719,2615
1068,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,20-24,17279,9014,8265,5093,2661,2432
1069,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,25-29,19544,10610,8934,5352,2965,2387
1070,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,30-49,53497,30515,22982,13760,8645,5115
1071,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,50-69,19458,12151,7307,3626,2675,951
1072,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,70+,3077,2099,978,339,274,65
1073,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Age not stated,93,56,37,26,16,10
1074,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Total,104825,57620,47205,34572,19603,14969
1075,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,5-9,6155,3098,3057,1019,509,510
1076,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,10-14,9947,5143,4804,2984,1517,1467
1077,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,15-19,10675,5556,5119,4160,2066,2094
1078,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,20-24,11900,6521,5379,4078,2166,1912
1079,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1080,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1081,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1082,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1083,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [50]:
ids = data_2.iloc[4:,[0,3,4,5,6,7,8,9,10]]

In [51]:
def avg_age(tup):
#     print(tup)
    if tup=='Total' or tup == 'Age not stated':
        return -1
    elif '+' in tup:
        return int(tup[:-1])+5
    else:
        a_b = tup.split("-")
#         print(a_b)
        return (int(a_b[0]) + int(a_b[1]))//2
ids['avg_age']=ids.iloc[:,2].map(avg_age)

In [53]:
schema_4 =['''''','''(?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_4,ids.values,'''LANGUAGE_AGE''')

done

## Language_Education Table

In [54]:
table_6='''CREATE TABLE LANG_EDUCATION(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
EDUCATION_LEVEL TEXT,
SECOND_LANGUAGE_TOTAL INTEGER,SECOND_LANGUAGE_MALE INTEGER,SECOND_LANGUAGE_FEMALE INTEGER,
THIRD_LANGUAGE_TOTAL INTEGER,THIRD_LANGUAGE_MALE INTEGER,THIRD_LANGUAGE_FEMALE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE),
PRIMARY KEY (STATE_CODE, GEOGRAPHIC_AREA, EDUCATION_LEVEL)
);'''
create_table(c,table_6,'LANG_EDUCATION')

done

In [55]:
data_3 = pd.read_csv('./multilingual-education.csv')
data_3.fillna(0)

,"C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State code,District code,Area Name,Total/Rural/Urban,Educational level,Number speaking second language,0,0,Number speaking third language,0,0
1,0,0,0,0,0,Persons,Males,Females,Persons,Males,Females
2,1,2,3,4,5,6,7,8,9,10,11
3,0,0,0,0,0,0,0,0,0,0,0
4,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,00,INDIA,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
6,00,00,INDIA,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
7,00,00,INDIA,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
8,00,00,INDIA,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
9,00,00,INDIA,Total,Middle but below matric/secondary,43116661,25214857,17901804,10743350,6266289,4477061
10,00,00,INDIA,Total,Matric/Secondary but below graduate,93204075,56022449,37181626,33899219,20411147,13488072
11,00,00,INDIA,Total,Graduate and above,46958049,28285620,18672429,22146543,13316422,8830121
12,00,00,INDIA,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
13,00,00,INDIA,Rural,Illiterate,30204008,12774715,17429293,2234076,1105619,1128457
14,00,00,INDIA,Rural,Literate,132437477,80213337,52224140,33149913,20665443,12484470
15,00,00,INDIA,Rural,Literate but below primary,18487727,10353027,8134700,1750972,1033945,717027
16,00,00,INDIA,Rural,Primary but below middle,28926164,16345445,12580719,4499137,2578263,1920874
17,00,00,INDIA,Rural,Middle but below matric/secondary,24957847,15068362,9889485,6010075,3608166,2401909
18,00,00,INDIA,Rural,Matric/Secondary but below graduate,42300193,26798111,15502082,14549061,9185784,5363277
19,00,00,INDIA,Rural,Graduate and above,11762090,8062603,3699487,5090441,3470061,1620380
20,00,00,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
21,00,00,INDIA,Urban,Illiterate,12062260,5076869,6985391,1645782,784666,861116
22,00,00,INDIA,Urban,Literate,140285025,78631462,61653563,48979809,27981104,20998705
23,00,00,INDIA,Urban,Literate but below primary,10857377,5773932,5083445,1982644,1074079,908565
24,00,00,INDIA,Urban,Primary but below middle,19644380,10243051,9401329,4137159,2203948,1933211
25,00,00,INDIA,Urban,Middle but below matric/secondary,18158814,10146495,8012319,4733275,2658123,2075152
26,00,00,INDIA,Urban,Matric/Secondary but below graduate,50903882,29224338,21679544,19350158,11225363,8124795
27,00,00,INDIA,Urban,Graduate and above,35195959,20223017,14972942,17056102,9846361,7209741
28,01,00,JAMMU & KASHMIR,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
29,01,00,JAMMU & KASHMIR,Total,Illiterate,764675,343219,421456,132783,62798,69985
...,...,...,...,...,...,...,...,...,...,...,...
838,34,00,PUDUCHERRY,Urban,Literate,305959,166055,139904,66004,37349,28655
839,34,00,PUDUCHERRY,Urban,Literate but below primary,10410,5263,5147,1519,804,715
840,34,00,PUDUCHERRY,Urban,Primary but below middle,23189,11582,11607,3312,1730,1582
841,34,00,PUDUCHERRY,Urban,Middle but below matric/secondary,31149,15786,15363,4815,2657,2158
842,34,00,PUDUCHERRY,Urban,Matric/Secondary but below graduate,130935,72023,58912,26146,14929,11217
843,34,00,PUDUCHERRY,Urban,Graduate and above,103179,57768,45411,28498,16321,12177
844,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Total,257425,142378,115047,72708,41846,30862
845,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Illiterate,24532,10752,13780,1434,669,765
846,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Literate,232893,131626,101267,71274,41177,30097
847,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Literate but below primary,28256,15471,12785,3567,1936,1631
848,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Primary but below middle,52437,29491,22946,8570,4836,3734
849,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Middle but below matric/secondary,54940,31737,23203,13994,8315,5679
850,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Matric/Secondary but below graduate,70904,40105,30799,30717,17637,13080
851,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Graduate and above,21773,12380,9393,13335,7817,5518
852,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Total,152600,84758,67842,38136,22243,15893
853,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Illiterate,15568,6933,8635,660,315,345
854,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Literate,137032,77825,59207,37476,21928,15548
855,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Literate but below primary,18623,10346,8277,1879,1019,860
856,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Primary but below middle,34872,19599,15273,5175,2931,2244
857,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Middle but below matric/secondary,35450,20325,15125,8738,5153,3585
858,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Matric/Secondary but below graduate,37299,21243,16056,15900,9255,6645
859,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Graduate and above,8136,4888,3248,5246,3258,1988
860,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Total,104825,57620,47205,34572,19603,14969
861,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Illiterate,8964,3819,5145,774,354,420
862,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Literate,95861,53801,42060,33798,19249,14549
863,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Literate but below primary,9633,5125,4508,1688,917,771
864,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Primary but below middle,17565,9892,7673,3395,1905,1490
865,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Middle but below matric/secondary,19490,11412,8078,5256,3162,2094
866,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Matric/Secondary but below graduate,33605,18862,14743,14817,8382,6435
867,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Graduate and above,13637,7492,6145,8089,4559,3530

In [56]:
ids = data_3.iloc[4:,[0,3,4,5,6,7,8,9,10]]

In [57]:
schema_5 =['''''','''(?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_5,ids.values,'''LANG_EDUCATION''')

done

In [58]:
ids

,"C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
4,00,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
6,00,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
7,00,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
8,00,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
9,00,Total,Middle but below matric/secondary,43116661,25214857,17901804,10743350,6266289,4477061
10,00,Total,Matric/Secondary but below graduate,93204075,56022449,37181626,33899219,20411147,13488072
11,00,Total,Graduate and above,46958049,28285620,18672429,22146543,13316422,8830121
12,00,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
13,00,Rural,Illiterate,30204008,12774715,17429293,2234076,1105619,1128457
14,00,Rural,Literate,132437477,80213337,52224140,33149913,20665443,12484470
15,00,Rural,Literate but below primary,18487727,10353027,8134700,1750972,1033945,717027
16,00,Rural,Primary but below middle,28926164,16345445,12580719,4499137,2578263,1920874
17,00,Rural,Middle but below matric/secondary,24957847,15068362,9889485,6010075,3608166,2401909
18,00,Rural,Matric/Secondary but below graduate,42300193,26798111,15502082,14549061,9185784,5363277
19,00,Rural,Graduate and above,11762090,8062603,3699487,5090441,3470061,1620380
20,00,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
21,00,Urban,Illiterate,12062260,5076869,6985391,1645782,784666,861116
22,00,Urban,Literate,140285025,78631462,61653563,48979809,27981104,20998705
23,00,Urban,Literate but below primary,10857377,5773932,5083445,1982644,1074079,908565
24,00,Urban,Primary but below middle,19644380,10243051,9401329,4137159,2203948,1933211
25,00,Urban,Middle but below matric/secondary,18158814,10146495,8012319,4733275,2658123,2075152
26,00,Urban,Matric/Secondary but below graduate,50903882,29224338,21679544,19350158,11225363,8124795
27,00,Urban,Graduate and above,35195959,20223017,14972942,17056102,9846361,7209741
28,01,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
29,01,Total,Illiterate,764675,343219,421456,132783,62798,69985
30,01,Total,Literate,5418515,3291600,2126915,1963437,1195958,767479
31,01,Total,Literate but below primary,569135,316283,252852,102814,57593,45221
32,01,Total,Primary but below middle,935821,529413,406408,196414,113132,83282
33,01,Total,Middle but below matric/secondary,1331807,817811,513996,348840,214671,134169
...,...,...,...,...,...,...,...,...,...
838,34,Urban,Literate,305959,166055,139904,66004,37349,28655
839,34,Urban,Literate but below primary,10410,5263,5147,1519,804,715
840,34,Urban,Primary but below middle,23189,11582,11607,3312,1730,1582
841,34,Urban,Middle but below matric/secondary,31149,15786,15363,4815,2657,2158
842,34,Urban,Matric/Secondary but below graduate,130935,72023,58912,26146,14929,11217
843,34,Urban,Graduate and above,103179,57768,45411,28498,16321,12177
844,35,Total,Total,257425,142378,115047,72708,41846,30862
845,35,Total,Illiterate,24532,10752,13780,1434,669,765
846,35,Total,Literate,232893,131626,101267,71274,41177,30097
847,35,Total,Literate but below primary,28256,15471,12785,3567,1936,1631
848,35,Total,Primary but below middle,52437,29491,22946,8570,4836,3734
849,35,Total,Middle but below matric/secondary,54940,31737,23203,13994,8315,5679
850,35,Total,Matric/Secondary but below graduate,70904,40105,30799,30717,17637,13080
851,35,Total,Graduate and above,21773,12380,9393,13335,7817,5518
852,35,Rural,Total,152600,84758,67842,38136,22243,15893
853,35,Rural,Illiterate,15568,6933,8635,660,315,345
854,35,Rural,Literate,137032,77825,59207,37476,21928,15548
855,35,Rural,Literate but below primary,18623,10346,8277,1879,1019,860
856,35,Rural,Primary but below middle,34872,19599,15273,5175,2931,2244
857,35,Rural,Middle but below matric/secondary,35450,20325,15125,8738,5153,3585
858,35,Rural,Matric/Secondary but below graduate,37299,21243,16056,15900,9255,6645
859,35,Rural,Graduate and above,8136,4888,3248,5246,3258,1988
860,35,Urban,Total,104825,57620,47205,34572,19603,14969
861,35,Urban,Illiterate,8964,3819,5145,774,354,420
862,35,Urban,Literate,95861,53801,42060,33798,19249,14549
863,35,Urban,Literate but below primary,9633,5125,4508,1688,917,771
864,35,Urban,Primary but below middle,17565,9892,7673,3395,1905,1490
865,35,Urban,Middle but below matric/secondary,19490,11412,8078,5256,3162,2094
866,35,Urban,Matric/Secondary but below graduate,33605,18862,14743,14817,8382,6435
867,35,Urban,Graduate and above,13637,7492,6145,8089,4559,3530

## Queries

In [5]:
query_1 = ''' SELECT AREA.NAME,AREA.STATE_CODE 
FROM LANG_EDUCATION AS L , AGE_LITERACY  AS A, AREA 
WHERE L.STATE_CODE != '0' AND L.STATE_CODE = A.STATE_CODE AND AREA.STATE_CODE ==L.STATE_CODE AND
L.EDUCATION_LEVEL= 'Total' and A.AGE_GROUP ='All ages'  AND L.GEOGRAPHIC_AREA ='Total' AND A.GEOGRAPHIC_AREA ='Total' 
ORDER BY CAST(L.THIRD_LANGUAGE_TOTAL AS FLOAT)/CAST(A.TOTAL_PERSONS AS FLOAT) ASC'''

In [7]:
c.execute(query_1)
rows = c.fetchall()
for row in rows:
    print(row)

('State - UTTAR PRADESH', 9)
('State - RAJASTHAN', 8)
('State - BIHAR', 10)
('State - CHHATTISGARH', 22)
('State - MADHYA PRADESH', 23)
('State - UTTARAKHAND', 5)
('State - WEST BENGAL', 19)
('State - TAMIL NADU', 33)
('State - HARYANA', 6)
('State - MIZORAM', 15)
('State - JHARKHAND', 20)
('State - HIMACHAL PRADESH', 2)
('State - TRIPURA', 16)
('State - PUDUCHERRY', 34)
('State - ANDHRA PRADESH', 28)
('State - NCT OF DELHI', 7)
('State - MEGHALAYA', 17)
('State - KERALA', 32)
('State - KARNATAKA', 29)
('State - ODISHA', 21)
('State - ASSAM', 18)
('State - GUJARAT', 24)
('State - DAMAN & DIU', 25)
('State - LAKSHADWEEP', 31)
('State - JAMMU & KASHMIR', 1)
('State - MAHARASHTRA', 27)
('State - ANDAMAN & NICOBAR ISLANDS', 35)
('State - DADRA & NAGAR HAVELI', 26)
('State - MANIPUR', 14)
('State - NAGALAND', 13)
('State - PUNJAB', 3)
('State - SIKKIM', 11)
('State - ARUNACHAL PRADESH', 12)
('State - CHANDIGARH', 4)
('State - GOA', 30)

In [107]:
query_2 = ''' SELECT AGE_GROUP,MAX(S)  FROM (SELECT AGE_GROUP,SUM(SECOND_LANGUAGE_TOTAL+THIRD_LANGUAGE_TOTAL) AS S FROM LANGUAGE_AGE 
WHERE AGE_GROUP != 'Total' AND GEOGRAPHIC_AREA='Total' AND STATE_CODE !='0'
GROUP BY AGE_GROUP) 
'''

In [108]:
c.execute(query_2)
rows = c.fetchall()
for row in rows:
    print(row)

('30-49', 123910754)

In [8]:
query_3 = ''' SELECT AGE_GROUP, MAX(R) 
FROM (SELECT AGE_GROUP, MAX(CAST(TOTAL_MALE AS FLOAT)/CAST(TOTAL_FEMALE AS FLOAT)) AS R   
FROM AGE_LITERACY WHERE STATE_CODE = 0 AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP != 'All ages'
UNION 
SELECT AGE_GROUP, MAX(CAST(TOTAL_FEMALE AS FLOAT)/CAST(TOTAL_MALE AS FLOAT)) AS R     
FROM AGE_LITERACY WHERE STATE_CODE = 0 AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP != 'All ages')
'''
c.execute(query_3)
rows = c.fetchall()
for row in rows:
    print(row)

('18', 1.161050268927912)

In [36]:
query_4 = ''' SELECT A.TOTAL_PERSONS - L.SECOND_LANGUAGE_TOTAL-L.THIRD_LANGUAGE_TOTAL
FROM AGE_LITERACY AS A,LANG_EDUCATION AS L WHERE L.STATE_CODE = A.STATE_CODE AND L.EDUCATION_LEVEL = 'Total'
AND A.STATE_CODE = '0' AND L.GEOGRAPHIC_AREA='Total' AND A.GEOGRAPHIC_AREA = 'Total' AND A.AGE_GROUP = 'All ages'
'''

In [37]:
c.execute(query_4)
rows = c.fetchall()
for row in rows:
    print(row)

(809856627,)

In [66]:
query_5 = '''
SELECT AREA.NAME,MAX(R)
FROM AREA,(
SELECT STATE_CODE, CAST(SUM(AVG_AGE*TOTAL_PERSONS) AS FLOAT)/CAST(SUM(TOTAL_PERSONS) AS FLOAT) AS R
FROM AGE_LITERACY WHERE STATE_CODE != '0' AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP!= 'All ages' AND AGE_GROUP!= 'Age not stated'
GROUP BY STATE_CODE) AS P
WHERE AREA.STATE_CODE = P.STATE_CODE
'''

In [67]:
c.execute(query_5)
rows = c.fetchall()
for row in rows:
    print(row)

('State - KERALA', 33.185498586746355)