In [94]:
import numpy as np
import pandas as pd
import sqlite3

In [95]:
data = pd.read_csv('./age-education.csv')

In [96]:
conn = sqlite3.connect("population.db")
c = conn.cursor()

In [97]:
def drop_tables(c):
    
    tables = ['AGE_LITERACY','AREA_AGE_ID','LANGUAGE_AGE','AREA','EDUCATION','LANG_EDUCATION']
    try:
        for t in tables:
            sql = '''DROP TABLE '''+ t
            c.execute(sql)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print('done')

In [7]:
drop_tables(c)

done

In [98]:
def create_table(c,query,name):
    try:
        c.execute(query)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print(name,'done')

In [99]:
def insert_many(c,schema,values,table):
    try:
        sql = '''INSERT INTO '''+table + schema[0] + ''' VALUES '''+ schema[1]
        c.executemany(sql, values)
    except sqlite3.IntegrityError as e:
        print('sqlite error: ', e.args[0]) # column name is not unique
    conn.commit()
    print('Insertion done')

In [10]:
def avg_age(tup):
#     print(tup)
    if tup=='Total' or tup == 'Age not stated' or tup == 'All ages':
        return -1
    elif '+' in tup:
        return int(tup[:-1])+5
    elif '-' in tup:
        a_b = tup.split("-")
#         print(a_b)
        return (int(a_b[0]) + int(a_b[1]))//2
    else:
        return int(tup)

In [34]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Table Name,State code,District code,Area Name,Total/Rural/Urban,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,31,32,33,34,35,36,37,38,39,40
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C2308,00,000,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
7,C2308,00,000,INDIA,Total,0-6,164515253,85752254,78762999,164515253,...,0,0,0,0,0,0,0,0,0,0
8,C2308,00,000,INDIA,Total,7,24826640,12903364,11923276,6748214,...,0,0,0,0,0,0,0,136465,75715,60750
9,C2308,00,000,INDIA,Total,8,26968373,14061937,12906436,4131414,...,0,0,0,0,0,0,0,96524,52561,43963
10,C2308,00,000,INDIA,Total,9,23424638,12214985,11209653,2491904,...,0,0,0,0,0,0,0,70452,38456,31996
11,C2308,00,000,INDIA,Total,10,30552107,16089436,14462671,3454505,...,0,0,0,0,0,0,0,85652,47423,38229
12,C2308,00,000,INDIA,Total,11,24740946,12962604,11778342,1988473,...,0,0,0,0,0,0,0,65030,35877,29153
13,C2308,00,000,INDIA,Total,12,27877307,14637892,13239415,2391529,...,0,0,0,0,0,0,0,68452,37773,30679
14,C2308,00,000,INDIA,Total,13,24280683,12563775,11716908,1810476,...,0,0,0,0,0,0,0,56720,30680,26040
15,C2308,00,000,INDIA,Total,14,25258169,13165128,12093041,2100785,...,0,0,0,0,0,0,0,58561,31901,26660
16,C2308,00,000,INDIA,Total,15,25899454,13739746,12159708,2599957,...,0,0,0,0,0,0,0,62039,34656,27383
17,C2308,00,000,INDIA,Total,16,24592293,13027935,11564358,2512487,...,0,0,0,0,0,0,0,60587,33777,26810
18,C2308,00,000,INDIA,Total,17,21217467,11349449,9868018,2038455,...,0,0,0,0,0,0,0,53520,30035,23485
19,C2308,00,000,INDIA,Total,18,27958147,15020851,12937296,3727975,...,19726,374081,271491,102590,0,0,0,69648,39697,29951
20,C2308,00,000,INDIA,Total,19,20859088,10844415,10014673,2578674,...,17178,415931,293517,122414,0,0,0,54079,29839,24240
21,C2308,00,000,INDIA,Total,20-24,111424222,57584693,53839529,18679492,...,76240,1888379,1322758,565621,13170028,7029489,6140539,283366,156685,126681
22,C2308,00,000,INDIA,Total,25-29,101413965,51344208,50069757,22634440,...,54424,1086833,791159,295674,14119774,7903752,6216022,257195,139917,117278
23,C2308,00,000,INDIA,Total,30-34,88594951,44660674,43934277,24329560,...,41306,794050,611483,182567,10341988,6112575,4229413,230611,125521,105090
24,C2308,00,000,INDIA,Total,35-39,85140684,42919381,42221303,27863127,...,35083,643622,503759,139863,8173370,5121959,3051411,229647,124135,105512
25,C2308,00,000,INDIA,Total,40-44,72438112,37545386,34892726,26806872,...,26383,538607,424028,114579,6326586,4202356,2124230,205514,113831,91683
26,C2308,00,000,INDIA,Total,45-49,62318327,32138114,30180213,25077763,...,18919,400572,316960,83612,4919451,3395939,1523512,180091,97709,82382
27,C2308,00,000,INDIA,Total,50-54,49069254,25843266,23225988,20822208,...,14173,287751,226550,61201,3694020,2628625,1065395,146056,80148,65908
28,C2308,00,000,INDIA,Total,55-59,39146055,19456012,19690043,17682081,...,12659,226205,174092,52113,2868480,2120540,747940,119010,61283,57727
29,C2308,00,000,INDIA,Total,60-64,37663707,18701749,18961958,19989439,...,10652,213973,152936,61037,1973967,1514324,459643,124916,64823,60093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Rural,Age not stated,180,101,79,38,...,0,2,2,0,6,5,1,4,3,1
3109,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,All ages,143488,76584,66904,27232,...,83,2888,1707,1181,15201,8287,6914,313,161,152
3110,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,0-6,14463,7400,7063,14463,...,0,0,0,0,0,0,0,0,0,0
3111,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,7,2299,1147,1152,256,...,0,0,0,0,0,0,0,27,16,11
3112,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,8,2217,1134,1083,71,...,0,0,0,0,0,0,0,7,4,3
3113,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,9,2289,1154,1135,80,...,0,0,0,0,0,0,0,6,4,2
3114,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,10,2615,1337,1278,89,...,0,0,0,0,0,0,0,4,2,2
3115,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,11,2555,1342,1213,47,...,0,0,0,0,0,0,0,5,2,3
3116,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,12,2378,1227,1151,22,...,0,0,0,0,0,0,0,2,1,1
3117,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,13,2326,1252,1074,26,...,0,0,0,0,0,0,0,2,0,2
3118,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,14,2367,1229,1138,26,...,0,0,0,0,0,0,0,0,0,0
3119,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,15,2559,1304,1255,38,...,0,0,0,0,0,0,0,3,3,0
3120,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,16,2489,1292,1197,29,...,0,0,0,0,0,0,0,0,0,0
3121,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,17,2478,1326,1152,25,...,0,0,0,0,0,0,0,4,4,0
3122,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,18,2588,1359,1229,65,...,3,73,37,36,0,0,0,1,0,1
3123,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,19,2543,1341,1202,75,...,4,95,38,57,0,0,0,3,3,0
3124,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,20-24,14575,7874,6701,523,...,17,608,322,286,2173,966,1207,31,20,11
3125,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,25-29,16164,8555,7609,875,...,15,465,249,216,3252,1626,1626,27,13,14
3126,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,30-34,13912,7414,6498,956,...,11,411,244,167,2545,1318,1227,17,12,5
3127,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,35-39,13040,6746,6294,1394,...,11,302,173,129,2098,1110,988,26,12,14
3128,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,40-44,10776,5892,4884,1501,...,10,301,210,91,1910,1083,827,23,13,10
3129,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,45-49,9429,5279,4150,1644,...,2,277,208,69,1352,836,516,28,14,14
3130,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,50-54,6621,3723,2898,1329,...,3,149,98,51,892,603,289,24,8,16
3131,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,55-59,5132,2981,2151,1160,...,2,119,72,47,556,417,139,28,12,16
3132,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,60-64,3274,1908,1366,999,...,1,41,27,14,226,178,48,18,7,11
3133,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,65-69,1757,953,804,586,...,0,21,14,7,82,72,10,4,1,3
3134,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,70-74,1193,691,502,419,...,4,14,9,5,56,41,15,7,4,3
3135,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,75-79,645,343,302,234,...,0,6,3,3,22,16,6,7,4,3
3136,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,80+,616,287,329,264,...,0,2,1,1,23,14,9,6,1,5
3137,C2308,35,000,State - ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,188,94,94,36,...,0,4,2,2,14,7,7,3,1,2

In [100]:
data = data[data.iloc[:,3]=='INDIA']
data = data[data.iloc[:,4]=='Total']
data = data[data.iloc[:,5]!='All ages']

In [101]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
7,C2308,00,000,INDIA,Total,0-6,164515253,85752254,78762999,164515253,...,0,0,0,0,0,0,0,0,0,0
8,C2308,00,000,INDIA,Total,7,24826640,12903364,11923276,6748214,...,0,0,0,0,0,0,0,136465,75715,60750
9,C2308,00,000,INDIA,Total,8,26968373,14061937,12906436,4131414,...,0,0,0,0,0,0,0,96524,52561,43963
10,C2308,00,000,INDIA,Total,9,23424638,12214985,11209653,2491904,...,0,0,0,0,0,0,0,70452,38456,31996
11,C2308,00,000,INDIA,Total,10,30552107,16089436,14462671,3454505,...,0,0,0,0,0,0,0,85652,47423,38229
12,C2308,00,000,INDIA,Total,11,24740946,12962604,11778342,1988473,...,0,0,0,0,0,0,0,65030,35877,29153
13,C2308,00,000,INDIA,Total,12,27877307,14637892,13239415,2391529,...,0,0,0,0,0,0,0,68452,37773,30679
14,C2308,00,000,INDIA,Total,13,24280683,12563775,11716908,1810476,...,0,0,0,0,0,0,0,56720,30680,26040
15,C2308,00,000,INDIA,Total,14,25258169,13165128,12093041,2100785,...,0,0,0,0,0,0,0,58561,31901,26660
16,C2308,00,000,INDIA,Total,15,25899454,13739746,12159708,2599957,...,0,0,0,0,0,0,0,62039,34656,27383
17,C2308,00,000,INDIA,Total,16,24592293,13027935,11564358,2512487,...,0,0,0,0,0,0,0,60587,33777,26810
18,C2308,00,000,INDIA,Total,17,21217467,11349449,9868018,2038455,...,0,0,0,0,0,0,0,53520,30035,23485
19,C2308,00,000,INDIA,Total,18,27958147,15020851,12937296,3727975,...,19726,374081,271491,102590,0,0,0,69648,39697,29951
20,C2308,00,000,INDIA,Total,19,20859088,10844415,10014673,2578674,...,17178,415931,293517,122414,0,0,0,54079,29839,24240
21,C2308,00,000,INDIA,Total,20-24,111424222,57584693,53839529,18679492,...,76240,1888379,1322758,565621,13170028,7029489,6140539,283366,156685,126681
22,C2308,00,000,INDIA,Total,25-29,101413965,51344208,50069757,22634440,...,54424,1086833,791159,295674,14119774,7903752,6216022,257195,139917,117278
23,C2308,00,000,INDIA,Total,30-34,88594951,44660674,43934277,24329560,...,41306,794050,611483,182567,10341988,6112575,4229413,230611,125521,105090
24,C2308,00,000,INDIA,Total,35-39,85140684,42919381,42221303,27863127,...,35083,643622,503759,139863,8173370,5121959,3051411,229647,124135,105512
25,C2308,00,000,INDIA,Total,40-44,72438112,37545386,34892726,26806872,...,26383,538607,424028,114579,6326586,4202356,2124230,205514,113831,91683
26,C2308,00,000,INDIA,Total,45-49,62318327,32138114,30180213,25077763,...,18919,400572,316960,83612,4919451,3395939,1523512,180091,97709,82382
27,C2308,00,000,INDIA,Total,50-54,49069254,25843266,23225988,20822208,...,14173,287751,226550,61201,3694020,2628625,1065395,146056,80148,65908
28,C2308,00,000,INDIA,Total,55-59,39146055,19456012,19690043,17682081,...,12659,226205,174092,52113,2868480,2120540,747940,119010,61283,57727
29,C2308,00,000,INDIA,Total,60-64,37663707,18701749,18961958,19989439,...,10652,213973,152936,61037,1973967,1514324,459643,124916,64823,60093
30,C2308,00,000,INDIA,Total,65-69,26454983,12944326,13510657,14829607,...,6974,162259,118515,43744,1089553,864263,225290,99287,49874,49413
31,C2308,00,000,INDIA,Total,70-74,19208842,9651499,9557343,11568624,...,4912,103000,74267,28733,661941,535931,126010,77511,40266,37245
32,C2308,00,000,INDIA,Total,75-79,9232503,4490603,4741900,5361192,...,2671,48614,33716,14898,327998,268932,59066,39626,19682,19944
33,C2308,00,000,INDIA,Total,80+,11289005,5283695,6005310,6890447,...,2798,36432,24942,11490,339629,250257,89372,52529,25790,26739
34,C2308,00,000,INDIA,Total,Age not stated,4489802,2372881,2116921,1591212,...,1626,18410,13988,4422,282186,171518,110668,48482,29062,19420

In [69]:
pd.DataFrame(columns=['a','b'])

Empty DataFrame
Columns: [a, b]
Index: []

In [102]:
from collections import defaultdict
def age_group(data):
    grps = ['0-9','10-14','15-19','20-24','25-29','30-49','50-69','70+','Age not stated']
    df = defaultdict(int)
#     print(df)
    for row in data.values:
#         print(row)
        if row[5][0]=='A':
            col = 'Age not stated'
        elif '+' in row[5] or int(row[5].split('-')[0])>=70:
            col = '70+'
        else:    
            a = [int(c) for c in row[5].split('-')]
            for grp in grps[:-2]:
                c,d = [int(c) for c in grp.split('-')]
                if len(a)>1:
                    if c<=a[0] and d>= a[1]:
                        col = grp
                else:
                    if c<=a[0] and d>= a[0]:
                        col = grp
#         print(row[5])            
        df[col] +=int(row[6])
    return df

In [107]:
_dict = age_group(data)
_dict_values = [[a,b] for a,b in _dict.items()]

In [108]:
_dict_values

[['0-9', 239734904],
 ['10-14', 132709212],
 ['15-19', 120526449],
 ['20-24', 111424222],
 ['25-29', 101413965],
 ['30-49', 308492074],
 ['50-69', 152333999],
 ['70+', 39730350],
 ['Age not stated', 4489802]]

## AREA TABLE

In [10]:
table_1 = '''CREATE TABLE AREA(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
STATE_CODE INT NOT NULL,
DISTT_CODE INT NOT NULL,
NAME TEXT NOT NULL);'''
create_table(c,table_1,'Area')

NameError: name 'create_table' is not defined

In [12]:
area_db = data.iloc[6:,1:4].drop_duplicates().values

In [8]:
# area_db

In [14]:
schema =['''(STATE_CODE,DISTT_CODE,NAME)''','''(?,?,?)''']
insert_many(c,schema,area_db,'AREA')

done

## Area-Age Table

In [109]:
table_2 = '''CREATE TABLE AGE_POPULATION(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
AGE_GROUP TEXT NOT NULL,
TOTAL_POPULATION INTEGER)'''
create_table(c,table_2,'AGE POPULATION')

AGE POPULATION done

In [30]:
ids = data.iloc[6:,[1,4,5]]
# ids = ids[ids.iloc[:,1]!='Total']
# ids = ids[ids.iloc[:,2]!='All ages']

In [110]:
schema_2 =['''(AGE_GROUP,TOTAL_POPULATION)''','''(?,?)''']
insert_many(c,schema_2,_dict_values,'''AGE_POPULATION''')

Insertion done

## AGE_LITERACY TABLE

In [18]:
table_3 = '''CREATE TABLE AGE_LITERACY(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
TOTAL_PERSONS INTEGER,TOTAL_MALE INTEGER,TOTAL_FEMALE INTEGER,
ILLITERATE_PERSONS INTEGER,ILLITERATE_MALE INTEGER,ILLITERATE_FEMALE INTEGER,LITERATE_PERSONS INTEGER,LITERATE_MALE INTEGER,LITERATE_FEMALE INTEGER,
AVG_AGE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE)
);'''
create_table(c,table_3)

done

In [19]:
# data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Table Name,State code,District code,Area Name,Total/Rural/Urban,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,31,32,33,34,35,36,37,38,39,40

In [20]:
age_lit = data.iloc[6:,[1,4,5,6,7,8,9,10,11,12,13,14]]
age_lit['avg_age']=age_lit.iloc[:,2].map(avg_age)

In [21]:
age_lit = age_lit.fillna(0)

In [86]:
# age_lit = age_lit.iloc[:,3:]
# age_lit['fid'] = [i+1 for i in range(age_lit.shape[0])]

In [22]:
# age_lit

,Unnamed: 1,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,avg_age
6,00,Total,All ages,1210854977,623270258,587584719,447216165,188506636,258709529,763638812,434763622,328875190,-1
7,00,Total,0-6,164515253,85752254,78762999,164515253,85752254,78762999,0,0,0,3
8,00,Total,7,24826640,12903364,11923276,6748214,3388683,3359531,18078426,9514681,8563745,7
9,00,Total,8,26968373,14061937,12906436,4131414,2013742,2117672,22836959,12048195,10788764,8
10,00,Total,9,23424638,12214985,11209653,2491904,1198339,1293565,20932734,11016646,9916088,9
11,00,Total,10,30552107,16089436,14462671,3454505,1661124,1793381,27097602,14428312,12669290,10
12,00,Total,11,24740946,12962604,11778342,1988473,929328,1059145,22752473,12033276,10719197,11
13,00,Total,12,27877307,14637892,13239415,2391529,1087320,1304209,25485778,13550572,11935206,12
14,00,Total,13,24280683,12563775,11716908,1810476,790923,1019553,22470207,11772852,10697355,13
15,00,Total,14,25258169,13165128,12093041,2100785,920460,1180325,23157384,12244668,10912716,14
16,00,Total,15,25899454,13739746,12159708,2599957,1176626,1423331,23299497,12563120,10736377,15
17,00,Total,16,24592293,13027935,11564358,2512487,1110878,1401609,22079806,11917057,10162749,16
18,00,Total,17,21217467,11349449,9868018,2038455,880041,1158414,19179012,10469408,8709604,17
19,00,Total,18,27958147,15020851,12937296,3727975,1532188,2195787,24230172,13488663,10741509,18
20,00,Total,19,20859088,10844415,10014673,2578674,935454,1643220,18280414,9908961,8371453,19
21,00,Total,20-24,111424222,57584693,53839529,18679492,6467026,12212466,92744730,51117667,41627063,22
22,00,Total,25-29,101413965,51344208,50069757,22634440,7562339,15072101,78779525,43781869,34997656,27
23,00,Total,30-34,88594951,44660674,43934277,24329560,8030750,16298810,64265391,36629924,27635467,32
24,00,Total,35-39,85140684,42919381,42221303,27863127,9338968,18524159,57277557,33580413,23697144,37
25,00,Total,40-44,72438112,37545386,34892726,26806872,9655032,17151840,45631240,27890354,17740886,42
26,00,Total,45-49,62318327,32138114,30180213,25077763,9015516,16062247,37240564,23122598,14117966,47
27,00,Total,50-54,49069254,25843266,23225988,20822208,7801013,13021195,28247046,18042253,10204793,52
28,00,Total,55-59,39146055,19456012,19690043,17682081,5705728,11976353,21463974,13750284,7713690,57
29,00,Total,60-64,37663707,18701749,18961958,19989439,7024725,12964714,17674268,11677024,5997244,62
30,00,Total,65-69,26454983,12944326,13510657,14829607,5145133,9684474,11625376,7799193,3826183,67
31,00,Total,70-74,19208842,9651499,9557343,11568624,4369752,7198872,7640218,5281747,2358471,72
32,00,Total,75-79,9232503,4490603,4741900,5361192,1890685,3470507,3871311,2599918,1271393,77
33,00,Total,80+,11289005,5283695,6005310,6890447,2456492,4433955,4398558,2827203,1571355,85
34,00,Total,Age not stated,4489802,2372881,2116921,1591212,666117,925095,2898590,1706764,1191826,-1
35,00,Rural,All ages,833748852,427781058,405967794,350955017,146419684,204535333,482793835,281361374,201432461,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,35,Rural,Age not stated,180,101,79,38,15,23,142,86,56,-1
3109,35,Urban,All ages,143488,76584,66904,27232,12167,15065,116256,64417,51839,-1
3110,35,Urban,0-6,14463,7400,7063,14463,7400,7063,0,0,0,3
3111,35,Urban,7,2299,1147,1152,256,134,122,2043,1013,1030,7
3112,35,Urban,8,2217,1134,1083,71,34,37,2146,1100,1046,8
3113,35,Urban,9,2289,1154,1135,80,37,43,2209,1117,1092,9
3114,35,Urban,10,2615,1337,1278,89,55,34,2526,1282,1244,10
3115,35,Urban,11,2555,1342,1213,47,27,20,2508,1315,1193,11
3116,35,Urban,12,2378,1227,1151,22,8,14,2356,1219,1137,12
3117,35,Urban,13,2326,1252,1074,26,14,12,2300,1238,1062,13
3118,35,Urban,14,2367,1229,1138,26,12,14,2341,1217,1124,14
3119,35,Urban,15,2559,1304,1255,38,14,24,2521,1290,1231,15
3120,35,Urban,16,2489,1292,1197,29,18,11,2460,1274,1186,16
3121,35,Urban,17,2478,1326,1152,25,14,11,2453,1312,1141,17
3122,35,Urban,18,2588,1359,1229,65,36,29,2523,1323,1200,18
3123,35,Urban,19,2543,1341,1202,75,44,31,2468,1297,1171,19
3124,35,Urban,20-24,14575,7874,6701,523,248,275,14052,7626,6426,22
3125,35,Urban,25-29,16164,8555,7609,875,369,506,15289,8186,7103,27
3126,35,Urban,30-34,13912,7414,6498,956,377,579,12956,7037,5919,32
3127,35,Urban,35-39,13040,6746,6294,1394,483,911,11646,6263,5383,37
3128,35,Urban,40-44,10776,5892,4884,1501,537,964,9275,5355,3920,42
3129,35,Urban,45-49,9429,5279,4150,1644,565,1079,7785,4714,3071,47
3130,35,Urban,50-54,6621,3723,2898,1329,463,866,5292,3260,2032,52
3131,35,Urban,55-59,5132,2981,2151,1160,397,763,3972,2584,1388,57
3132,35,Urban,60-64,3274,1908,1366,999,387,612,2275,1521,754,62
3133,35,Urban,65-69,1757,953,804,586,195,391,1171,758,413,67
3134,35,Urban,70-74,1193,691,502,419,140,279,774,551,223,72
3135,35,Urban,75-79,645,343,302,234,80,154,411,263,148,77
3136,35,Urban,80+,616,287,329,264,68,196,352,219,133,85
3137,35,Urban,Age not stated,188,94,94,36,11,25,152,83,69,-1

In [23]:
schema_3 =['''(STATE_CODE,GEOGRAPHIC_AREA,AGE_GROUP,TOTAL_PERSONS,TOTAL_MALE,TOTAL_FEMALE,ILLITERATE_PERSONS,ILLITERATE_MALE,ILLITERATE_FEMALE,LITERATE_PERSONS,LITERATE_MALE,LITERATE_FEMALE,AVG_AGE)''','''(?,?,?,?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_3,age_lit.values,'''AGE_LITERACY''')

done

In [89]:
rows = c.fetchall()
for row in rows:
    print(row)

## Education Table

In [43]:
table_4 = '''CREATE TABLE EDUCATION(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
LITERATE_WITHOUT_EDUCATION_TOTAL INTEGER,LITERATE_WITHOUT_EDUCATION_MALE INTEGER,LITERATE_WITHOUT_EDUCATION_FEMALE INTEGER,
BELOW_PRIMARY_TOTAL INTEGER,BELOW_PRIMARY_MALE INTEGER,BELOW_PRIMARY_FEMALE INTEGER,
PRIMARY_TOTAL INTEGER,PRIMARY_MALE INTEGER,PRIMARY_FEMALE INTEGER,
MIDDLE_TOTAL INTEGER,MIDDLE_MALE INTEGER,MIDDLE_FEMALE INTEGER,
SECONDARY_TOTAL INTEGER,SECONDARY_MALE INTEGER,SECONDARY_FEMALEINTEGER,
HIGHER_SECONDARY_TOTAL INTEGER,HIGHER_SECONDARY_MALE INTEGER,HIGHER_SECONDARY_FEMALE INTEGER,
NON_TECHNICIAN_TOTAL INTEGER,NON_TECHNICIAN_MALE INTEGER,NON_TECHNICIAN_FEMALE INTEGER,
TECHNICIAN_TOTAL INTEGER,TECHNICIAN_MALE INTEGER,TECHNICIAN_FEMALE INTEGER,
GRADUATE_TOTAL INTEGER,GRADUATE_MALE INTEGER,GRADUATE_FEMALE INTEGER,
UNCLASSIFIED_TOTAL INTEGER,UNCLASSIFIED_MALE INTEGER,UNCLASSIFIED_FEMALE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE)
);'''
create_table(c,table_4)

done

In [44]:
ids = [1,4,5]+[i for i in range(15,len(data.columns))]
edu = data.iloc[6:,ids]
# edu = edu[edu.iloc[:,1]!='Total']
# edu = edu[edu.iloc[:,2]!='All ages']

In [45]:
edu = edu.fillna(0)
# edu = edu.iloc[:,3:]
# edu.insert(0,'fid',[i+1 for i in range(edu.shape[0])])

In [46]:
edu

,Unnamed: 1,Unnamed: 4,C-8 EDUCATIONAL LEVEL BY AGE AND SEX FOR POPULATION AGE 7 AND ABOVE - 2011,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
6,00,Total,All ages,35153231,19278416,15874815,146897597,78445099,68452498,184170833,...,345724,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454
7,00,Total,0-6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,00,Total,7,424205,248229,175976,17517756,9190737,8327019,0,...,0,0,0,0,0,0,0,136465,75715,60750
9,00,Total,8,351280,202220,149060,22389155,11793414,10595741,0,...,0,0,0,0,0,0,0,96524,52561,43963
10,00,Total,9,291281,167048,124233,18171490,9579169,8592321,2399511,...,0,0,0,0,0,0,0,70452,38456,31996
11,00,Total,10,388714,224853,163861,17762078,9528882,8233196,8861158,...,0,0,0,0,0,0,0,85652,47423,38229
12,00,Total,11,306384,174586,131798,7836217,4237528,3598689,14544842,...,0,0,0,0,0,0,0,65030,35877,29153
13,00,Total,12,356093,200632,155461,4793012,2596541,2196471,17571686,...,0,0,0,0,0,0,0,68452,37773,30679
14,00,Total,13,319253,175409,143844,2237783,1194584,1043199,13011657,...,0,0,0,0,0,0,0,56720,30680,26040
15,00,Total,14,379369,207650,171719,1539790,817001,722789,8222860,...,0,0,0,0,0,0,0,58561,31901,26660
16,00,Total,15,464646,258954,205692,1325607,722299,603308,5390635,...,0,0,0,0,0,0,0,62039,34656,27383
17,00,Total,16,503128,277973,225155,1190288,645759,544529,3965107,...,0,0,0,0,0,0,0,60587,33777,26810
18,00,Total,17,495362,274115,221247,932441,512329,420112,2905770,...,0,0,0,0,0,0,0,53520,30035,23485
19,00,Total,18,791089,436615,354474,1337978,742554,595424,4152873,...,19726,374081,271491,102590,0,0,0,69648,39697,29951
20,00,Total,19,650015,343463,306552,920256,479153,441103,2888656,...,17178,415931,293517,122414,0,0,0,54079,29839,24240
21,00,Total,20-24,4147405,2207378,1940027,5410189,2791396,2618793,16574003,...,76240,1888379,1322758,565621,13170028,7029489,6140539,283366,156685,126681
22,00,Total,25-29,4529861,2422465,2107396,5500554,2737935,2762619,15210359,...,54424,1086833,791159,295674,14119774,7903752,6216022,257195,139917,117278
23,00,Total,30-34,3825358,2048723,1776635,5300109,2612830,2687279,12951372,...,41306,794050,611483,182567,10341988,6112575,4229413,230611,125521,105090
24,00,Total,35-39,3556614,1919984,1636630,5659501,2856229,2803272,12288099,...,35083,643622,503759,139863,8173370,5121959,3051411,229647,124135,105512
25,00,Total,40-44,2927911,1629614,1298297,5284019,2833671,2450348,10103182,...,26383,538607,424028,114579,6326586,4202356,2124230,205514,113831,91683
26,00,Total,45-49,2463598,1370272,1093326,4959760,2749378,2210382,8795402,...,18919,400572,316960,83612,4919451,3395939,1523512,180091,97709,82382
27,00,Total,50-54,1907180,1084287,822893,4008855,2284410,1724445,6808270,...,14173,287751,226550,61201,3694020,2628625,1065395,146056,80148,65908
28,00,Total,55-59,1492485,820129,672356,3186098,1764346,1421752,5167170,...,12659,226205,174092,52113,2868480,2120540,747940,119010,61283,57727
29,00,Total,60-64,1389722,773664,616058,3067703,1782876,1284827,4587619,...,10652,213973,152936,61037,1973967,1514324,459643,124916,64823,60093
30,00,Total,65-69,986972,545793,441179,2381245,1430887,950358,3033591,...,6974,162259,118515,43744,1089553,864263,225290,99287,49874,49413
31,00,Total,70-74,713522,403035,310487,1726047,1094774,631273,2048788,...,4912,103000,74267,28733,661941,535931,126010,77511,40266,37245
32,00,Total,75-79,360910,196435,164475,950043,582371,367672,1020269,...,2671,48614,33716,14898,327998,268932,59066,39626,19682,19944
33,00,Total,80+,459519,244450,215069,1061493,643700,417793,1166551,...,2798,36432,24942,11490,339629,250257,89372,52529,25790,26739
34,00,Total,Age not stated,671355,420440,250915,448130,240346,207784,501403,...,1626,18410,13988,4422,282186,171518,110668,48482,29062,19420
35,00,Rural,All ages,22904616,12879121,10025495,109643998,59106785,50537213,130265150,...,146694,3069181,2285580,783601,22339967,15659295,6680672,2057684,1135912,921772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3108,35,Rural,Age not stated,34,19,15,20,9,11,21,...,0,2,2,0,6,5,1,4,3,1
3109,35,Urban,All ages,2273,1154,1119,12869,6754,6115,22114,...,83,2888,1707,1181,15201,8287,6914,313,161,152
3110,35,Urban,0-6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3111,35,Urban,7,19,12,7,1997,985,1012,0,...,0,0,0,0,0,0,0,27,16,11
3112,35,Urban,8,11,10,1,2128,1086,1042,0,...,0,0,0,0,0,0,0,7,4,3
3113,35,Urban,9,7,2,5,1968,984,984,228,...,0,0,0,0,0,0,0,6,4,2
3114,35,Urban,10,9,4,5,1529,765,764,984,...,0,0,0,0,0,0,0,4,2,2
3115,35,Urban,11,14,9,5,565,314,251,1924,...,0,0,0,0,0,0,0,5,2,3
3116,35,Urban,12,7,4,3,169,90,79,1917,...,0,0,0,0,0,0,0,2,1,1
3117,35,Urban,13,9,3,6,72,46,26,1431,...,0,0,0,0,0,0,0,2,0,2
3118,35,Urban,14,8,4,4,37,21,16,681,...,0,0,0,0,0,0,0,0,0,0
3119,35,Urban,15,9,5,4,32,16,16,340,...,0,0,0,0,0,0,0,3,3,0
3120,35,Urban,16,10,4,6,45,23,22,197,...,0,0,0,0,0,0,0,0,0,0
3121,35,Urban,17,17,9,8,35,24,11,144,...,0,0,0,0,0,0,0,4,4,0
3122,35,Urban,18,30,15,15,66,44,22,242,...,3,73,37,36,0,0,0,1,0,1
3123,35,Urban,19,24,12,12,70,52,18,243,...,4,95,38,57,0,0,0,3,3,0
3124,35,Urban,20-24,252,142,110,419,283,136,1610,...,17,608,322,286,2173,966,1207,31,20,11
3125,35,Urban,25-29,320,183,137,453,262,191,2007,...,15,465,249,216,3252,1626,1626,27,13,14
3126,35,Urban,30-34,285,142,143,409,205,204,1709,...,11,411,244,167,2545,1318,1227,17,12,5
3127,35,Urban,35-39,279,122,157,507,242,265,1801,...,11,302,173,129,2098,1110,988,26,12,14
3128,35,Urban,40-44,224,133,91,452,211,241,1501,...,10,301,210,91,1910,1083,827,23,13,10
3129,35,Urban,45-49,220,80,140,566,316,250,1639,...,2,277,208,69,1352,836,516,28,14,14
3130,35,Urban,50-54,162,83,79,361,184,177,1122,...,3,149,98,51,892,603,289,24,8,16
3131,35,Urban,55-59,112,57,55,333,180,153,900,...,2,119,72,47,556,417,139,28,12,16
3132,35,Urban,60-64,98,50,48,264,177,87,616,...,1,41,27,14,226,178,48,18,7,11
3133,35,Urban,65-69,56,24,32,143,95,48,392,...,0,21,14,7,82,72,10,4,1,3
3134,35,Urban,70-74,37,20,17,118,77,41,221,...,4,14,9,5,56,41,15,7,4,3
3135,35,Urban,75-79,21,11,10,74,42,32,128,...,0,6,3,3,22,16,6,7,4,3
3136,35,Urban,80+,17,6,11,38,18,20,112,...,0,2,1,1,23,14,9,6,1,5
3137,35,Urban,Age not stated,16,8,8,19,12,7,25,...,0,4,2,2,14,7,7,3,1,2

In [47]:
schema_3 =['''''','''(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_3,edu.values,'''EDUCATION''')

done

## Language_Age Table

In [48]:
table_5 = '''CREATE TABLE LANGUAGE_AGE(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
AGE_GROUP TEXT,
SECOND_LANGUAGE_TOTAL INTEGER,SECOND_LANGUAGE_MALE INTEGER,SECOND_LANGUAGE_FEMALE INTEGER,
THIRD_LANGUAGE_TOTAL INTEGER,THIRD_LANGUAGE_MALE INTEGER,THIRD_LANGUAGE_FEMALE INTEGER,AVG_AGE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE),
PRIMARY KEY (STATE_CODE, GEOGRAPHIC_AREA, AGE_GROUP)
);'''
create_table(c,table_5)

done

In [14]:
data_2 = pd.read_csv('./multilingual-age.csv')
data_2.fillna(0)

,"C-18 POPULATION BY BILINGUALISM, TRILINGUALISM, AGE AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State code,District code,Area Name,Total/Rural/Urban,Age-group,Number speaking second language,0,0,Number speaking third language,0,0
1,0,0,0,0,0,Persons,Males,Females,Persons,Males,Females
2,1,2,3,4,5,6,7,8,9,10,11
3,0,0,0,0,0,0,0,0,0,0,0
4,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,00,INDIA,Total,5-9,15649192,8166843,7482349,1844108,978151,865957
6,00,00,INDIA,Total,10-14,34488492,18133423,16355069,7254335,3831131,3423204
7,00,00,INDIA,Total,15-19,42424599,22750908,19673691,12626717,6792766,5833951
8,00,00,INDIA,Total,20-24,41344406,22386694,18957712,12834334,7067614,5766720
9,00,00,INDIA,Total,25-29,35924045,19695033,16229012,10857171,6144045,4713126
10,00,00,INDIA,Total,30-49,96443870,55866320,40577550,27466884,16824473,10642411
11,00,00,INDIA,Total,50-69,39729782,24306735,15423047,10916361,7385967,3530394
12,00,00,INDIA,Total,70+,7962347,4813671,3148676,1954539,1362695,591844
13,00,00,INDIA,Total,Age not stated,1022037,576756,445281,255131,149990,105141
14,00,00,INDIA,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
15,00,00,INDIA,Rural,5-9,9292251,4815380,4476871,672498,356376,316122
16,00,00,INDIA,Rural,10-14,20960599,11005994,9954605,3638873,1929573,1709300
17,00,00,INDIA,Rural,15-19,24547666,13342296,11205370,6559688,3616092,2943596
18,00,00,INDIA,Rural,20-24,21905564,12180144,9725420,5966021,3449951,2516070
19,00,00,INDIA,Rural,25-29,18052954,10261185,7791769,4569413,2768678,1800735
20,00,00,INDIA,Rural,30-49,45973742,27687500,18286242,10139312,6778161,3361151
21,00,00,INDIA,Rural,50-69,17824491,11195472,6629019,3215504,2413157,802347
22,00,00,INDIA,Rural,70+,3635989,2240389,1395600,534536,404113,130423
23,00,00,INDIA,Rural,Age not stated,448229,259692,188537,88144,54961,33183
24,00,00,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
25,00,00,INDIA,Urban,5-9,6356941,3351463,3005478,1171610,621775,549835
26,00,00,INDIA,Urban,10-14,13527893,7127429,6400464,3615462,1901558,1713904
27,00,00,INDIA,Urban,15-19,17876933,9408612,8468321,6067029,3176674,2890355
28,00,00,INDIA,Urban,20-24,19438842,10206550,9232292,6868313,3617663,3250650
29,00,00,INDIA,Urban,25-29,17871091,9433848,8437243,6287758,3375367,2912391
...,...,...,...,...,...,...,...,...,...,...,...
1054,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Total,257425,142378,115047,72708,41846,30862
1055,35,00,ANDAMAN & NICOBAR ISLANDS,Total,5-9,14096,7110,6986,1958,983,975
1056,35,00,ANDAMAN & NICOBAR ISLANDS,Total,10-14,25476,12995,12481,6651,3331,3320
1057,35,00,ANDAMAN & NICOBAR ISLANDS,Total,15-19,26857,14005,12852,9494,4785,4709
1058,35,00,ANDAMAN & NICOBAR ISLANDS,Total,20-24,29179,15535,13644,9171,4827,4344
1059,35,00,ANDAMAN & NICOBAR ISLANDS,Total,25-29,32609,17622,14987,9716,5320,4396
1060,35,00,ANDAMAN & NICOBAR ISLANDS,Total,30-49,91903,51816,40087,27080,16469,10611
1061,35,00,ANDAMAN & NICOBAR ISLANDS,Total,50-69,32357,20054,12303,7803,5517,2286
1062,35,00,ANDAMAN & NICOBAR ISLANDS,Total,70+,4721,3115,1606,771,579,192
1063,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Age not stated,227,126,101,64,35,29
1064,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Total,152600,84758,67842,38136,22243,15893
1065,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,5-9,7941,4012,3929,939,474,465
1066,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,10-14,15529,7852,7677,3667,1814,1853
1067,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,15-19,16182,8449,7733,5334,2719,2615
1068,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,20-24,17279,9014,8265,5093,2661,2432
1069,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,25-29,19544,10610,8934,5352,2965,2387
1070,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,30-49,53497,30515,22982,13760,8645,5115
1071,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,50-69,19458,12151,7307,3626,2675,951
1072,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,70+,3077,2099,978,339,274,65
1073,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Age not stated,93,56,37,26,16,10
1074,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Total,104825,57620,47205,34572,19603,14969
1075,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,5-9,6155,3098,3057,1019,509,510
1076,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,10-14,9947,5143,4804,2984,1517,1467
1077,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,15-19,10675,5556,5119,4160,2066,2094
1078,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,20-24,11900,6521,5379,4078,2166,1912
1079,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,25-29,13065,7012,6053,4364,2355,2009
1080,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,30-49,38406,21301,17105,13320,7824,5496
1081,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,50-69,12899,7903,4996,4177,2842,1335
1082,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,70+,1644,1016,628,432,305,127
1083,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Age not stated,134,70,64,38,19,19

In [32]:
(((data_2.iloc[5:,[5]].astype('int')).values - (data_2.iloc[5:,[8]].astype('int')).values) <0).sum()

0

In [33]:
ids = data_2.iloc[4:,[0,3,4,5,6,7,8,9,10]]

In [51]:
def avg_age(tup):
#     print(tup)
    if tup=='Total' or tup == 'Age not stated':
        return -1
    elif '+' in tup:
        return int(tup[:-1])+5
    else:
        a_b = tup.split("-")
#         print(a_b)
        return (int(a_b[0]) + int(a_b[1]))//2
ids['avg_age']=ids.iloc[:,2].map(avg_age)

In [52]:
ids.values[0]

array(['00', 'Total', 'Total', '314988770', '176696383', '138292387',
       '86009580', '50536832', '35472748', -1], dtype=object)

In [53]:
schema_4 =['''''','''(?,?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_4,ids.values,'''LANGUAGE_AGE''')

done

## Language_Education Table

In [54]:
table_6='''CREATE TABLE LANG_EDUCATION(
STATE_CODE INTEGER NOT NULL,
GEOGRAPHIC_AREA TEXT NOT NULL,
EDUCATION_LEVEL TEXT,
SECOND_LANGUAGE_TOTAL INTEGER,SECOND_LANGUAGE_MALE INTEGER,SECOND_LANGUAGE_FEMALE INTEGER,
THIRD_LANGUAGE_TOTAL INTEGER,THIRD_LANGUAGE_MALE INTEGER,THIRD_LANGUAGE_FEMALE INTEGER,
FOREIGN KEY (STATE_CODE) REFERENCES AREA(STATE_CODE),
PRIMARY KEY (STATE_CODE, GEOGRAPHIC_AREA, EDUCATION_LEVEL)
);'''
create_table(c,table_6)

done

In [55]:
data_3 = pd.read_csv('./multilingual-education.csv')
data_3.fillna(0)

,"C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State code,District code,Area Name,Total/Rural/Urban,Educational level,Number speaking second language,0,0,Number speaking third language,0,0
1,0,0,0,0,0,Persons,Males,Females,Persons,Males,Females
2,1,2,3,4,5,6,7,8,9,10,11
3,0,0,0,0,0,0,0,0,0,0,0
4,00,00,INDIA,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,00,INDIA,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
6,00,00,INDIA,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
7,00,00,INDIA,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
8,00,00,INDIA,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
9,00,00,INDIA,Total,Middle but below matric/secondary,43116661,25214857,17901804,10743350,6266289,4477061
10,00,00,INDIA,Total,Matric/Secondary but below graduate,93204075,56022449,37181626,33899219,20411147,13488072
11,00,00,INDIA,Total,Graduate and above,46958049,28285620,18672429,22146543,13316422,8830121
12,00,00,INDIA,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
13,00,00,INDIA,Rural,Illiterate,30204008,12774715,17429293,2234076,1105619,1128457
14,00,00,INDIA,Rural,Literate,132437477,80213337,52224140,33149913,20665443,12484470
15,00,00,INDIA,Rural,Literate but below primary,18487727,10353027,8134700,1750972,1033945,717027
16,00,00,INDIA,Rural,Primary but below middle,28926164,16345445,12580719,4499137,2578263,1920874
17,00,00,INDIA,Rural,Middle but below matric/secondary,24957847,15068362,9889485,6010075,3608166,2401909
18,00,00,INDIA,Rural,Matric/Secondary but below graduate,42300193,26798111,15502082,14549061,9185784,5363277
19,00,00,INDIA,Rural,Graduate and above,11762090,8062603,3699487,5090441,3470061,1620380
20,00,00,INDIA,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
21,00,00,INDIA,Urban,Illiterate,12062260,5076869,6985391,1645782,784666,861116
22,00,00,INDIA,Urban,Literate,140285025,78631462,61653563,48979809,27981104,20998705
23,00,00,INDIA,Urban,Literate but below primary,10857377,5773932,5083445,1982644,1074079,908565
24,00,00,INDIA,Urban,Primary but below middle,19644380,10243051,9401329,4137159,2203948,1933211
25,00,00,INDIA,Urban,Middle but below matric/secondary,18158814,10146495,8012319,4733275,2658123,2075152
26,00,00,INDIA,Urban,Matric/Secondary but below graduate,50903882,29224338,21679544,19350158,11225363,8124795
27,00,00,INDIA,Urban,Graduate and above,35195959,20223017,14972942,17056102,9846361,7209741
28,01,00,JAMMU & KASHMIR,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
29,01,00,JAMMU & KASHMIR,Total,Illiterate,764675,343219,421456,132783,62798,69985
...,...,...,...,...,...,...,...,...,...,...,...
838,34,00,PUDUCHERRY,Urban,Literate,305959,166055,139904,66004,37349,28655
839,34,00,PUDUCHERRY,Urban,Literate but below primary,10410,5263,5147,1519,804,715
840,34,00,PUDUCHERRY,Urban,Primary but below middle,23189,11582,11607,3312,1730,1582
841,34,00,PUDUCHERRY,Urban,Middle but below matric/secondary,31149,15786,15363,4815,2657,2158
842,34,00,PUDUCHERRY,Urban,Matric/Secondary but below graduate,130935,72023,58912,26146,14929,11217
843,34,00,PUDUCHERRY,Urban,Graduate and above,103179,57768,45411,28498,16321,12177
844,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Total,257425,142378,115047,72708,41846,30862
845,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Illiterate,24532,10752,13780,1434,669,765
846,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Literate,232893,131626,101267,71274,41177,30097
847,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Literate but below primary,28256,15471,12785,3567,1936,1631
848,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Primary but below middle,52437,29491,22946,8570,4836,3734
849,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Middle but below matric/secondary,54940,31737,23203,13994,8315,5679
850,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Matric/Secondary but below graduate,70904,40105,30799,30717,17637,13080
851,35,00,ANDAMAN & NICOBAR ISLANDS,Total,Graduate and above,21773,12380,9393,13335,7817,5518
852,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Total,152600,84758,67842,38136,22243,15893
853,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Illiterate,15568,6933,8635,660,315,345
854,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Literate,137032,77825,59207,37476,21928,15548
855,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Literate but below primary,18623,10346,8277,1879,1019,860
856,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Primary but below middle,34872,19599,15273,5175,2931,2244
857,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Middle but below matric/secondary,35450,20325,15125,8738,5153,3585
858,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Matric/Secondary but below graduate,37299,21243,16056,15900,9255,6645
859,35,00,ANDAMAN & NICOBAR ISLANDS,Rural,Graduate and above,8136,4888,3248,5246,3258,1988
860,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Total,104825,57620,47205,34572,19603,14969
861,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Illiterate,8964,3819,5145,774,354,420
862,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Literate,95861,53801,42060,33798,19249,14549
863,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Literate but below primary,9633,5125,4508,1688,917,771
864,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Primary but below middle,17565,9892,7673,3395,1905,1490
865,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Middle but below matric/secondary,19490,11412,8078,5256,3162,2094
866,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Matric/Secondary but below graduate,33605,18862,14743,14817,8382,6435
867,35,00,ANDAMAN & NICOBAR ISLANDS,Urban,Graduate and above,13637,7492,6145,8089,4559,3530

In [56]:
ids = data_3.iloc[4:,[0,3,4,5,6,7,8,9,10]]

In [57]:
schema_5 =['''''','''(?,?,?,?,?,?,?,?,?)''']
insert_many(c,schema_5,ids.values,'''LANG_EDUCATION''')

done

In [58]:
ids

,"C-19 POPULATION BY BILINGUALISM, TRILINGUALISM, EDUCATIONAL LEVEL AND SEX",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
4,00,Total,Total,314988770,176696383,138292387,86009580,50536832,35472748
5,00,Total,Illiterate,42266268,17851584,24414684,3879858,1890285,1989573
6,00,Total,Literate,272722502,158844799,113877703,82129722,48646547,33483175
7,00,Total,Literate but below primary,29345104,16126959,13218145,3733616,2108024,1625592
8,00,Total,Primary but below middle,48570544,26588496,21982048,8636296,4782211,3854085
9,00,Total,Middle but below matric/secondary,43116661,25214857,17901804,10743350,6266289,4477061
10,00,Total,Matric/Secondary but below graduate,93204075,56022449,37181626,33899219,20411147,13488072
11,00,Total,Graduate and above,46958049,28285620,18672429,22146543,13316422,8830121
12,00,Rural,Total,162641485,92988052,69653433,35383989,21771062,13612927
13,00,Rural,Illiterate,30204008,12774715,17429293,2234076,1105619,1128457
14,00,Rural,Literate,132437477,80213337,52224140,33149913,20665443,12484470
15,00,Rural,Literate but below primary,18487727,10353027,8134700,1750972,1033945,717027
16,00,Rural,Primary but below middle,28926164,16345445,12580719,4499137,2578263,1920874
17,00,Rural,Middle but below matric/secondary,24957847,15068362,9889485,6010075,3608166,2401909
18,00,Rural,Matric/Secondary but below graduate,42300193,26798111,15502082,14549061,9185784,5363277
19,00,Rural,Graduate and above,11762090,8062603,3699487,5090441,3470061,1620380
20,00,Urban,Total,152347285,83708331,68638954,50625591,28765770,21859821
21,00,Urban,Illiterate,12062260,5076869,6985391,1645782,784666,861116
22,00,Urban,Literate,140285025,78631462,61653563,48979809,27981104,20998705
23,00,Urban,Literate but below primary,10857377,5773932,5083445,1982644,1074079,908565
24,00,Urban,Primary but below middle,19644380,10243051,9401329,4137159,2203948,1933211
25,00,Urban,Middle but below matric/secondary,18158814,10146495,8012319,4733275,2658123,2075152
26,00,Urban,Matric/Secondary but below graduate,50903882,29224338,21679544,19350158,11225363,8124795
27,00,Urban,Graduate and above,35195959,20223017,14972942,17056102,9846361,7209741
28,01,Total,Total,6183190,3634819,2548371,2096220,1258756,837464
29,01,Total,Illiterate,764675,343219,421456,132783,62798,69985
30,01,Total,Literate,5418515,3291600,2126915,1963437,1195958,767479
31,01,Total,Literate but below primary,569135,316283,252852,102814,57593,45221
32,01,Total,Primary but below middle,935821,529413,406408,196414,113132,83282
33,01,Total,Middle but below matric/secondary,1331807,817811,513996,348840,214671,134169
...,...,...,...,...,...,...,...,...,...
838,34,Urban,Literate,305959,166055,139904,66004,37349,28655
839,34,Urban,Literate but below primary,10410,5263,5147,1519,804,715
840,34,Urban,Primary but below middle,23189,11582,11607,3312,1730,1582
841,34,Urban,Middle but below matric/secondary,31149,15786,15363,4815,2657,2158
842,34,Urban,Matric/Secondary but below graduate,130935,72023,58912,26146,14929,11217
843,34,Urban,Graduate and above,103179,57768,45411,28498,16321,12177
844,35,Total,Total,257425,142378,115047,72708,41846,30862
845,35,Total,Illiterate,24532,10752,13780,1434,669,765
846,35,Total,Literate,232893,131626,101267,71274,41177,30097
847,35,Total,Literate but below primary,28256,15471,12785,3567,1936,1631
848,35,Total,Primary but below middle,52437,29491,22946,8570,4836,3734
849,35,Total,Middle but below matric/secondary,54940,31737,23203,13994,8315,5679
850,35,Total,Matric/Secondary but below graduate,70904,40105,30799,30717,17637,13080
851,35,Total,Graduate and above,21773,12380,9393,13335,7817,5518
852,35,Rural,Total,152600,84758,67842,38136,22243,15893
853,35,Rural,Illiterate,15568,6933,8635,660,315,345
854,35,Rural,Literate,137032,77825,59207,37476,21928,15548
855,35,Rural,Literate but below primary,18623,10346,8277,1879,1019,860
856,35,Rural,Primary but below middle,34872,19599,15273,5175,2931,2244
857,35,Rural,Middle but below matric/secondary,35450,20325,15125,8738,5153,3585
858,35,Rural,Matric/Secondary but below graduate,37299,21243,16056,15900,9255,6645
859,35,Rural,Graduate and above,8136,4888,3248,5246,3258,1988
860,35,Urban,Total,104825,57620,47205,34572,19603,14969
861,35,Urban,Illiterate,8964,3819,5145,774,354,420
862,35,Urban,Literate,95861,53801,42060,33798,19249,14549
863,35,Urban,Literate but below primary,9633,5125,4508,1688,917,771
864,35,Urban,Primary but below middle,17565,9892,7673,3395,1905,1490
865,35,Urban,Middle but below matric/secondary,19490,11412,8078,5256,3162,2094
866,35,Urban,Matric/Secondary but below graduate,33605,18862,14743,14817,8382,6435
867,35,Urban,Graduate and above,13637,7492,6145,8089,4559,3530

## Queries

In [5]:
query_1 = ''' SELECT AREA.NAME,AREA.STATE_CODE 
FROM LANG_EDUCATION AS L , AGE_LITERACY  AS A, AREA 
WHERE L.STATE_CODE != '0' AND L.STATE_CODE = A.STATE_CODE AND AREA.STATE_CODE ==L.STATE_CODE AND
L.EDUCATION_LEVEL= 'Total' and A.AGE_GROUP ='All ages'  AND L.GEOGRAPHIC_AREA ='Total' AND A.GEOGRAPHIC_AREA ='Total' 
ORDER BY CAST(L.THIRD_LANGUAGE_TOTAL AS FLOAT)/CAST(A.TOTAL_PERSONS AS FLOAT) ASC'''

In [6]:
c.execute(query_1)

In [7]:
rows = c.fetchall()
for row in rows:
    print(row)

('State - UTTAR PRADESH', 9)
('State - RAJASTHAN', 8)
('State - BIHAR', 10)
('State - CHHATTISGARH', 22)
('State - MADHYA PRADESH', 23)
('State - UTTARAKHAND', 5)
('State - WEST BENGAL', 19)
('State - TAMIL NADU', 33)
('State - HARYANA', 6)
('State - MIZORAM', 15)
('State - JHARKHAND', 20)
('State - HIMACHAL PRADESH', 2)
('State - TRIPURA', 16)
('State - PUDUCHERRY', 34)
('State - ANDHRA PRADESH', 28)
('State - NCT OF DELHI', 7)
('State - MEGHALAYA', 17)
('State - KERALA', 32)
('State - KARNATAKA', 29)
('State - ODISHA', 21)
('State - ASSAM', 18)
('State - GUJARAT', 24)
('State - DAMAN & DIU', 25)
('State - LAKSHADWEEP', 31)
('State - JAMMU & KASHMIR', 1)
('State - MAHARASHTRA', 27)
('State - ANDAMAN & NICOBAR ISLANDS', 35)
('State - DADRA & NAGAR HAVELI', 26)
('State - MANIPUR', 14)
('State - NAGALAND', 13)
('State - PUNJAB', 3)
('State - SIKKIM', 11)
('State - ARUNACHAL PRADESH', 12)
('State - CHANDIGARH', 4)
('State - GOA', 30)

In [113]:
query_2 = ''' SELECT AGE_GROUP,MAX(CAST(S AS FLOAT)/ CAST(TOTAL_POPULATION AS FLOAT))  FROM ((SELECT AGE_GROUP,SUM(SECOND_LANGUAGE_TOTAL) AS S FROM LANGUAGE_AGE 
WHERE AGE_GROUP != 'Total' AND GEOGRAPHIC_AREA='Total' AND STATE_CODE !='0'
GROUP BY AGE_GROUP) NATURAL JOIN (AGE_POPULATION)) 
'''

In [114]:
c.execute(query_2)
rows = c.fetchall()
for row in rows:
    print(row)

('20-24', 0.37105402450106406)

In [8]:
query_3 = ''' SELECT AGE_GROUP, MAX(R) 
FROM (SELECT AGE_GROUP, MAX(CAST(TOTAL_MALE AS FLOAT)/CAST(TOTAL_FEMALE AS FLOAT)) AS R   
FROM AGE_LITERACY WHERE STATE_CODE = 0 AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP != 'All ages'
UNION 
SELECT AGE_GROUP, MAX(CAST(TOTAL_FEMALE AS FLOAT)/CAST(TOTAL_MALE AS FLOAT)) AS R     
FROM AGE_LITERACY WHERE STATE_CODE = 0 AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP != 'All ages')
'''
c.execute(query_3)
rows = c.fetchall()
for row in rows:
    print(row)

('18', 1.161050268927912)

In [119]:
query_4 = ''' SELECT A.TOTAL_PERSONS - L.SECOND_LANGUAGE_TOTAL
FROM AGE_LITERACY AS A,LANG_EDUCATION AS L WHERE L.STATE_CODE = A.STATE_CODE AND L.EDUCATION_LEVEL = 'Total'
AND A.STATE_CODE = '0' AND L.GEOGRAPHIC_AREA='Total' AND A.GEOGRAPHIC_AREA = 'Total' AND A.AGE_GROUP = 'All ages'
'''

In [120]:
c.execute(query_4)
rows = c.fetchall()
for row in rows:
    print(row)

(895866207,)

In [66]:
query_5 = '''
SELECT AREA.NAME,MAX(R)
FROM AREA,(
SELECT STATE_CODE, CAST(SUM(AVG_AGE*TOTAL_PERSONS) AS FLOAT)/CAST(SUM(TOTAL_PERSONS) AS FLOAT) AS R
FROM AGE_LITERACY WHERE STATE_CODE != '0' AND GEOGRAPHIC_AREA = 'Total' AND AGE_GROUP!= 'All ages' AND AGE_GROUP!= 'Age not stated'
GROUP BY STATE_CODE) AS P
WHERE AREA.STATE_CODE = P.STATE_CODE
'''

In [67]:
c.execute(query_5)
rows = c.fetchall()
for row in rows:
    print(row)

('State - KERALA', 33.185498586746355)